<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <title> {% block title %} Home {% endblock %}</title>
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <meta charset="utf-8">
    {% endblock %}

  </head>
  <body>
    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="/">MPR HCJ</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    <li><a href="/">About</a></li>
                    <li><a href="/working">Working</a></li>
                    {% if name == None %}

                    <li><a href="/signup">Register</a></li>
                    <li><a href="/signin">Sign-in</a></li>
                    {% else %}
                    <li><a href="#">Welcome {{name}}</a></li>
                    <li><a href="/upload">Upload Data</a></li>
                    <li><a href="/results">Get results</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
    </section>
    {% block body_block %}
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
        <div class="container" >
          <div id="content">


            <h2>What is Credit Card Fraud?</h2>
            <p>Credit card fraud is when someone uses your credit card or credit account to make a purchase you didn't authorize. This activity can happen in different ways.</p>
            <p>If you lose your credit card or have it stolen, it can be used to make purchases or other transactions, either in person or online.</p>
            <p>Fraudsters can also steal your credit card account number, PIN and security code to make unauthorized transactions, without needing your physical credit card. (Unlawful transactions like these are known as card-not-present fraud.)</p>

            <p style ="height: 50px"></p>

            <h2>What is Identity Theft?</h2>
            <p>Identity theft involves the use of illegally obtained information about you, like your name, birthday, Social Security number, credit card numbers and more, in order to use existing credit accounts or open new ones in your name.</p>
            <p>When this happens, criminals capture the spending power of your credit while you get stuck with the bill.</p>

            <p style ="height: 50px"></p>
            <h2>Types of Credit Card Fraud</h2>
            <ul>
              <li>Account takeover —</li>
            </ul>
            <p>A fraudster can use personal information such as your home address, mother's maiden name, etc., to contact your credit card company or bank, pretend they're you, claim your card has been lost or stolen, or that you've changed addresses, and get the card issuer to send them a new card.</p>
            <ul>
              <li>Counterfeit cards —</li>
            </ul>
            <p>After illegally obtaining your credit card account information with a device called a "skimmer," fraudsters can create and use a duplicate card. The increased use of chip-and-PIN (aka EMV) technology in the U.S. has reduced this type of fraud.</p>

        </div>
        <div class="motive">
          <img src="https://image.flaticon.com/icons/svg/1100/1100349.svg" alt="">
           <p>So it becomes the Prime responsibility of the bank to identify such potential fraudsters!
          Our Model is uses a hybrid approach of learning to identify such fraudsters.Signin to have a Holistic look of the Fraud detection</p>
          </div>

        </div>

    </div>
{% endblock %}

  </body>
  <!-- Jquery needed -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <!-- Function used to shrink nav bar removing paddings and adding black background -->
      <script>
          $(window).scroll(function() {
              if ($(document).scrollTop() > 50) {
                  $('.nav').addClass('affix');
                  console.log("OK");
              } else {
                  $('.nav').removeClass('affix');
              }
          });

          $('.navTrigger').click(function () {
      $(this).toggleClass('active');
      console.log("Clicked menu");
      $("#mainListDiv").toggleClass("show_list");
      $("#mainListDiv").fadeIn();

  });

      </script>
</html>
