<!DOCTYPE html>

{% extends "base.html" %}


{% block title %}Register{% endblock %}

{% block body_block %}
<p style ="height: 50px"></p>

<div class="container">

    <form class="made text-center"  method="POST">
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success' %}
      <div class="alert alert-success" role="alert">
      {{message}}
      </div>
      {% endif %}
      {% if message.tags == 'error' %}
      <div class="alert alert-danger" role="alert">
      {{message}}
      </div>
      {% endif %}
    {% endfor %}
    {% endif %}
      <div class="jumbotron" >
      <h2  class="display-4">Register here</h2>
      <hr class="my-4">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="lead">
          <button type="submit" class="btn btn-primary">Submit</button>
      </p>
      </div>
    </form>
</div>


{% endblock %}
